@model Community_Factor.Community

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Community</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommunityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommunityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
